# Allow externalstorage access
allow platform_app mnt_pass_through_file:dir { create_dir_perms mounton };

# Allow bypassing the FUSE layer
r_dir_file(platform_app, mnt_pass_through_file)

# Allow Launcher3 to access zram
allow platform_app sysfs_zram:dir search;
allow platform_app sysfs_zram:file r_file_perms;

# OTA
allow platform_app { cache_file cache_recovery_file }:dir create_dir_perms;
allow platform_app { cache_file cache_recovery_file }:file create_file_perms;
allow platform_app cache_file:lnk_file r_file_perms;
allow platform_app ota_package_file:file create_file_perms;
allow platform_app ota_package_file:dir rw_dir_perms;
allow platform_app recovery_service:service_manager find;

# allow systemui to set boot animation colors
get_prop(platform_app, bootanim_system_prop)
set_prop(platform_app, bootanim_system_prop)

# Allow Touch HAL service to be found
hal_client_domain(platform_app, hal_lineage_touch)

# Allow systemui to read audio properties for shutter sound adjustment
get_prop(platform_app, audio_config_prop)

# Allow launcher app to read memory info
r_dir_file(platform_app, config_gz)
r_dir_file(platform_app, sysfs_zram)

# Phone Link
allow platform_app vendor_virtual_keyboard_service:service_manager find;
