# Allow Settings to set wfd resolution prop
set_prop(system_app, media_wfd_prop)

# Allow Settings to read selinux status
allow system_app selinuxfs:file r_file_perms;

# Allow Settings to read pagetypeinfo proc
allow system_app proc_pagetypeinfo:file r_file_perms;

# Allow system apps to read qemu props
get_prop(system_app, qemu_hw_prop)

# Allow system apps to get settingsdebug.instant.packages prop
get_prop(system_app, settingslib_prop)
